<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @library_zone.name %>
</p>

<%= link_to 'Edit', edit_library_zone_path(@library_zone) %> |
<%= link_to 'Back', library_zones_path %>
